<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="blog-body">
    <h1>Blog</h1>
    <p>Here will be my blog where I will be posting some articles!</p>
    <div class="blog-list">
        <% articles.forEach(article => { %>
            <div class="article">
                    <a href="/blog/<%=article.slug%>" class="article-link">
                        <div class="blog-date">
                            <p><%=article.article_date%></p>
                        </div>
                        <div class="blog-title-home">
                            <p><%=article.titre%></p>
                        </div>
                    </a>
                </div>
        <% }); %>
    </div>
</div>



<%- include("partials/footer") -%>