<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="blog-body">
    <h1>Blog</h1>
    <p>Here will be my blog where I will be posting some articles!</p>

    </div>
    <div class="articles_list">
        <% articles.forEach(article => { %>
        <div class="article">
            <a href="./blog/<%=article.slug%>">
                <h3><%= article.article_date%></h3>
                <h3><%= article.titre %></h3>
            </a>
        </div>
        <% }); %>
    </div>


<%- include("partials/footer") -%>