<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="hosting-body">
    <div class="hosting-img">
        <img src="/images/hosting.webp" alt="Node-pic">
    </div>
    <% articles.forEach(article => { %>
        <h1><%= article.titre %></h1>
        <p><%- article.article %></p>
    <% }); %>

</div>

<%- include("partials/footer") -%>