<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="homepage-body">
    <div class="intro">
        <h1>hey, Gil here!</h1>
        <p class="intro-txt">I am software developer who loves to learn new things such as technologies, programming
            languages, etc.
            I mainly focus on coding, tech and productivity.</p>
        <button class="button"><a href="https://github.com/Gilaway">GitHub</a></button>
        <button class="button"><a href="https://www.linkedin.com/in/gil-vayssier-1b4872116/">LinkedIn</a></button>
    </div>

    <div class="projects">
        <h2>My projects</h2>
        <div class="project-carousel">
            <a href="/blog/hosting" class="project-list">
                <div class="project-1">
                    <div class="project-img">
                        <img src="/images/hosting.webp" alt="nodeserver">
                    </div>
                    <h3>Node.js on RHEL 9</h3>
                    <p>The tutorial to set up a Node.js web application hosted on a Red Hat Enterprise Linux 9.</p>
                </div>
            </a>
            <a href="/blog" class="project-list">
                <div class="project-2">
                    <div class="project-img">
                        <img src="/images/work-progress.webp" alt="work-in-progress">
                    </div>
                    <h3>Project still in progress...</h3>
                    <p>Currently still working on a second project, will be released soon...</p>
                </div>
            </a>
        </div>
    </div>

    <div class="latests-blog">
        <h2>Latest blogs</h2>
        <p>I sometimes write about programming, tech and productivity. Check me out !
        </p>
        <div class="blog-list">
            <% articles.forEach(article => { %>
                <div class="article">
                    <!-- Check if article.slug is "newarticle" -->
                    <a href="<%= article.slug === 'newarticle' ? '/blog' : '/blog/' + article.slug %>"
                       class="article-link">
                        <div class="blog-date">
                            <p><%= article.article_date %></p>
                        </div>
                        <div class="blog-title-home">
                            <p><%= article.titre %></p>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>

</div>


<%- include("partials/footer") -%>